/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_self
 */

$font-family-base: "Lucida Grande", "Hiragino Kaku Gothic ProN", Meiryo, sans-serif;
$font-size-base: 15px;
$border-radius-base: 4px;

// "bootstrap-sprockets" must be imported before "bootstrap" and "bootstrap/variables"
@import "bootstrap-sprockets";
@import "bootswatch/cosmo/variables";
@import "bootstrap";
@import "bootstrap-datetimepicker";
@import "bootswatch/cosmo/bootswatch";

.table {
  word-break: break-all;
  word-wrap: break-word;
}

.table > thead > tr {
  background-color: $navbar-default-bg;
  border-color: $navbar-default-border;
  color: $navbar-default-color;
}
